.skill-list{
    display: flex;
    max-width: 600px;
    gap: 5px;
    flex-wrap: wrap;
    padding: 0;
    li{
        list-style: none;
        padding: 5px 10px;
        border: 1px solid #fff;
        border-radius: 30px;
        color: #fff;
        &:hover{
            background-color: #333;
            color: #fff;
            cursor: pointer;
            &.orange-500{
                background-color: #c73f00;
            }
            &.blue-700{
                background-color: #06469b;
            }
            &.yellow-600{
                background-color: #bb9b0e;
            }
            &.gray-600{
                background-color: #475353;
            }
            &.green-200{
                background-color: #34b970;
            }
            &.blue-400{
                background-color: #1b56a3;
            }
            &.violet-200{
                background-color: #43067c;
            }
            &.sky-blue-200{
                background-color: #18a0aa;
            }
            &.green-500{
                background-color: #5dd359;
            }
            &.green-600{
                background-color: #4db14a;
            }
            &.orange-300{
                background-color: #c47d20;
            }
            &.violet-300{
                background-color: #3c0253;
            }
            &.green-100{
                background-color: #01b34b;
            }
            &.blue-100{
                background-color: #013fb3;
            }
            &.blue-600{
                background-color: #0a0097;
            }
            &.magenta-400{
                background-color: #480157;
            }
            &.pink-100{
                background-color: #e444c9;
            }
        }
    }
}
.about-container h2{
    font-size: 42px;
}
.about-container h3{
    font-size: 15px;
    margin-bottom: 20px;
}
.aboutme-section{
    position: relative;
    display: flex;
    flex-direction: row-reverse;
    padding: 70px 20px;
    
    .pic-container{
        position: relative;
    }
    @media screen and (max-width: 480px) {
        flex-direction: column;
        .pic-container{
            right: -15%;
        }
    }
}


@media screen and (max-width: 480px) {
    .wel-box {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        top: 46% !important;
    }
   .about-container{
     position: relative;
     padding: 54px 20px 0px;
     z-index: 9999;
     -webkit-backdrop-filter: none;
     backdrop-filter: none;
     .tools{
        transform: translateY(-250px);
     }
     
   }
}